<img id="headshot" src="/views/media/casual-headshot.jpeg" />
<div style="height: 100vh;">
  <div style="text-align: center; width: 50%;">
    <p class="landing-caption">Tommy</p>
    <p class="landing-caption">Adams</p>
  </div>
  <div>
    <p class="landing-text">Student. Innovator. Engineer.</p> 
  </div>
</div>
<div style="height: 1000px; background-color: #000;"></div>